* {
box-sizing: border-box;
margin: 0 auto;
}

img {
  max-width: 100%;
}



/*-------RESPONSIVE DESIGN-------*/
/*-------Tablet Display-------*/

@media screen and ( min-width: 545px ) {

}

/*-------Desktop Display-------*/

@media screen and ( min-width: 769px ) {

}
